/** [Header] **/
.social-media {
  margin-bottom: 0;
}
.social-media > li {
  padding: 4px 15px 4px;
}

/** [Footer] **/
.footer {
  color: #efefef;
  background: url(/img/footer.png) no-repeat center bottom;
  font-size: 85%;
  min-height: 160px;
}
.footer a {
  color: #efefef;
}
.footer a:hover {
  color: #ffbb00;
  text-decoration: none;
}

.footer-links {
  margin: 3em 0 0;
}
.footer-links > li {
  margin-bottom: 0.2em;
}

/** [Content Items] **/
.item-preview {
  margin: 0 1em;
  width: 270px;
}
.item-preview > img {
  margin-bottom: 0.5em;
}
.item-featured {
  width: 300px;
  margin-left: 1.5em;
}

.item-description {
  font-size: 14px;
}

/** [Miscellaneous] **/
.firstcharacter {
  float: left;
  color: #4ad;
  font-size: 75px;
  line-height: 60px;
  padding-top: 8px;
  padding-right: 4px;
  padding-left: 4px;
  font-family: Georgia;
}

a:hover .caption p {
  text-decoration: none;
}

.avatar {
  width:180px;
  margin-right:1.5em;
}

.logo {
  width:160px;
  margin-left:1em;
}
