version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: quarterly
      time: "09:00"
      timezone: US/Pacific
    commit-message:
      prefix: "build"
      include: "scope"
    open-pull-requests-limit: 10
    groups:
      font-awesome:
        patterns:
          - "@fortawesome/*"
      react:
        patterns:
          - "react"
          - "react-dom"
      react-router:
        patterns:
          - "react-router"
          - "react-router-dom"
      parcel:
        patterns:
          - "@parcel/*"
          - "parcel"
      formatting:
        patterns:
          - "@typescript-eslint/*"
          - "eslint"
          - "eslint-plugin-*"
          - "prettier"
      types:
        patterns:
          - "@types/*"
          - "typescript"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: quarterly
      time: "09:00"
      timezone: US/Pacific
    commit-message:
      prefix: "build"
      include: "scope"
    open-pull-requests-limit: 10
